<!-- Footer-->
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<!-- Footer Location-->
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Equipo</h4>
					<p class="lead mb-0">
						Johan Ibarra<br /> Rafael Peña
					</p>
				</div>
				<!-- Footer Social Icons-->
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Repositorios</h4>
					<a class="btn btn-outline-light btn-social mx-1" title="Repositorio" href="https://github.com/joserafaelpm/Elecciones"><i
						class="fab fa-fw fa-github"></i></a> <a
						class="btn btn-outline-light btn-social mx-1" title="Johan" href="https://github.com/JohanLeonardoIbarra"><i
						class="fab fa-fw fa-github"></i></a> <a
						class="btn btn-outline-light btn-social mx-1" title="Rafael" href="https://github.com/joserafaelpm"><i
						class="fab fa-fw fa-github"></i></a> <a
						class="btn btn-outline-light btn-social mx-1" href="#!"><i
						class="fab fa-fw fa-dribbble"></i></a>
				</div>
				<!-- Footer About Text-->
				<div class="col-lg-4">
					<h4 class="text-uppercase mb-4">Ventana de Administrador</h4>
					<p class="lead mb-0">
						Para acceder a la pestaña de administrador presione aquí <a href="/Elecciones/Admin">Admin</a>  .
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Copyright Section-->
	<div class="copyright py-4 text-center text-white">
		<div class="container">
			<small>Copyright &copy; Your Website 2021</small>
		</div>
	</div>
	